<p id="notice"><%= notice %></p>

<p>
  <strong>Verb:</strong>
  <%= @activity.verb %>
</p>

<p>
  <strong>Magnitude:</strong>
  <%= @activity.magnitude %>
</p>

<p>
  <strong>Note:</strong>
  <%= @activity.note %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
